[Desktop Entry]
Type=Application
Exec=AppRun %U
Icon=shapecollage
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false

Name=Shape Collage
Keywords=photo;collage;image;
Comment=Graphical tool to make photo collage posters from multiple images

Name[de]=Shape Collage
Keywords[de]=Fotos;Bilder;Poster;Plakate;Zusammenstellung;Collage,Photo;Image;
Comment[de]=Ein grafisches Werkzeug zum Erstellen von Fotocollage-Postern aus mehreren Bildern

Name[fr]=Shape Collage
Keywords[fr]=photo;collage;image;
Comment[fr]=Outil graphique pour fabriquer des posters en collant plusieurs photos

Name[it]=Shape Collage
Keywords[it]=foto;collage;immagine;fotografia;fotografie;immagini;poster;
Comment[it]=Utilità grafica per creare poster da collage di fotografie
